body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#game{
    display: grid;
    box-sizing: border-box;
    gap: 2em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: "spielstandUser rounds spielstandPC"
                        "drei fuenf sieben"
                        "makeYourMove play clear"
                        "schere stein papier";
}

#roundsPlayer{
    grid-template-areas: spielstandUser;
}

#roundsComputer{
    grid-template-areas: spielstandPC;
}

#rounds{
    grid-template-areas: rounds;
}

#drei{
    grid-template-areas: drei;
}

#fuenf{
    grid-template-areas: fuenf;
}

#sieben{
    grid-template-areas: sieben;
}

#weapons{
    grid-template-areas: makeYourMove;
}

#start{
    grid-template-areas: play;
}

#clearAll{
    grid-template-areas: clear;
}

#scissors{
    grid-template-areas: schere;
    background-color: yellow;
}

#paper{
    grid-template-areas: papier;
    background-color: red;
}

#rock{
    grid-template-areas: stein;
    background-color: blue;
}

